
:root {
    --main-color: #18CFAB;
}
html {
    min-width: 1200px;
    margin: 0 auto;
}
.container {
    width: 1160px;
    margin: 0 auto;
}

body {
    font-family: Montserrat, sans-serif;
}

/*First page - Menu, hero page*/

.hero {
    background-image: url("../images/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
}

.hero-menu-logo {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    margin: 0 6px;
    position: relative;
}

.logo-title {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding: 38px 0 36px 0;
}

.logo-wrapper::before {
    position: absolute;
    content: "H";
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    left: 15px;
    top: 19px;
    z-index:1;
}

.logo-title span {
    font-weight: 700;
    color: var(--main-color);
}

.menu-list-wrapper {
    display: flex;
    align-items: center;
}

.hero-menu-list-item {
    display: inline-block;
    padding-right: 21px;
    transition: 1s;
}

.hero-menu-item-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}

.hero-menu-item-link:hover {
    color: var(--main-color);
    padding-bottom: 50px;
    border-bottom: 2px solid var(--main-color);
}

.fa-search {
    color: rgba(255, 255, 255, 0.6);
}

.fa-search:hover {
    color: var(--main-color);
}

.hero-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 264px;
}
.hero-page-uptitle {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.hero-page-uptitle span {
    color: var(--main-color);
}

.hero-page-title {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.hero-page-subtitle {
    color: #D8D8D8;
    font-weight: 300;
    font-size: 35px;
    text-transform: capitalize;
    /*padding-bottom: 150px;*/
}

.hero-page a {
    color: #fff;
    font-size: 15px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
.hero-page-buttons {
    margin: 150px 0 243px 0;
    /*padding-bottom: 243px;*/
}
.hero-button-explore {
    margin-right: 26px;
    padding: 16px 18px 16px 17px;
    background-color: var(--main-color);
    border-radius: 3px;
    box-shadow: 0 -4px 0 rgb(225,225,225);
}

.hero-button-purchase {
    padding: 16px 11px 16px 12px;
    background-color: #00CBF6;
    border-radius: 3px;
    box-shadow: 0 -4px 0 rgb(225,225,225);
}

/* second page - Our services - 4 blocks, services list, block "call to purchase"*/

.block-wrapper {
    display: flex;
    margin-top: 8px;
}

.theme-option, .support{
    width: 482px;
    height: 387px;
    text-align: center;
    background-color: #1C2A33;
    padding-top: 95px;
    color: var(--main-color);
}

.customize, .device{
    width: 482px;
    height: 387px;
    /*align-items: center;*/
    text-align: center;
    padding-top: 116px;
    background-color: var(--main-color);
    color: #fff;
}

.block-wrapper p {
    padding-top: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.section-title {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin: 83px 0 100px 0;
    text-align: center;
    position: relative;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    background-color: var(--main-color);
    bottom: -24px;
    left: calc((100% - 79px) / 2);
}
.section-title::before {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    background-color: var(--main-color);
    bottom: -28px;
    left: calc((100% - 66px) / 2);
}

.our-services-list {
    display: flex;
    justify-items: center;
    background: #F8FCFE;
    margin-bottom: 28px;
}

.our-services-list-item {
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    text-transform: capitalize;
    border: 1px solid #EDEFEF;
    padding: 16px 0 16px 0;
    width: 193px;
    text-align: center;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}
.our-services-list-item:hover{
    border: 1px solid var(--main-color);
}

.rectangle:after /* создание треугольника под меню таб*/
 { content: "";
    position: absolute;
    border: 15px solid transparent;
    border-top: 10px solid var(--main-color);
    bottom: -25px;
    left: calc((100% - 30px) / 2);
    transition: 0.8s;
    /*opacity: 1;*/
}

.our-services-list-item.active {
    background-color: var(--main-color);
    color: #FFFFFF;
}

.service-description.hide {
    display: none;
}

.service-description {
    display: flex;
    margin-bottom: 91px;
    gap: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    text-align: justify;
}

.call-to-purchase {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/Sections background/section-2.jpg"), no-repeat, center;
    background-size: cover;
    padding-top: 127px;
    padding-bottom: 143px;
    text-align: center;
}
.call-to-purchase-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 12px;
}

.call-to-purchase-subtitle {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 67px;
}
.call-purchase-button {
    padding: 16px 12px 16px 12px;
    background-color: var(--main-color);
    border-radius: 2px;
    box-shadow: 0 -4px 0 rgb(225,225,225);
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
}

/*Page 3 - Our Amazing Work*/

.our-work {
    background: #E9EDEF;
    padding-top: 83px;
}

.our-work-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 84px;
    padding-top: 14px;
    cursor: pointer;
}

.our-work-filter-item {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding: 14px 15px 13px 15px;
}

.our-work-filter-item:first-child {
    padding: 14px 28px 13px 28px;

}

.our-work-filter-item.chosen {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item.hidden,
.portfolio-item.hiddenSecond {
    display: none;
}

.hover-block {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -250px;
    left: 0;
    transition: 1s;
    opacity: 0;
    border-top: 6px solid var(--main-color);
    cursor: pointer;
}
.hover-icon-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 24px;
}

.hover-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin: 3px;
    transition: 0.5s;
}
.icon-item-square {
    width: 12px;
    height: 12px;
    border: 1px solid var(--main-color);
}
.hover-icon-item:hover{
    background-color: var(--main-color);
    transition: 0.5s;
}

.hover-icon-item:hover svg path{
    background-color: var(--main-color);
    transition: 0.5s;
    fill: white;
}

.hover-icon-item:hover .icon-item-square {
    background-color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.hover-icon {
    margin-top: 46px;
    margin-bottom: 24px;
}
.hover-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--main-color);
}

.hover-subtitle {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    text-transform: capitalize;
    margin-bottom: 34px;
}

.portfolio-item {
    display: flex;
    overflow: hidden;
    position: relative;
}

.portfolio-item.hide {
    display: none;
}

.portfolio-item:hover .hover-block{
    margin-bottom: 250px;
    display: block;
    opacity: 1;
    transition: margin-bottom 1s;
    background: #E9EDEF;
}


.preloader { /*preloader*/
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    opacity: 0;
    transition: 0.5s;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.dot:last-child {
    margin-right: 0;
}

.dot2 {
    width: 10px;
    height: 10px;
    background-color: #18CFAB;
}

.d21 {
    animation: rollInOut 3s 500ms ease infinite;
}

.d22 {
    animation: rollInOut 3s 1s ease infinite;
}

.d23 {
    animation: rollInOut 3s 1.5s ease infinite;
}

@keyframes rollInOut {
    0% {
        transform: translateX(-100px) scale(0);
    }
    30%,
    70% {
        transform: translateX(0) scale(1);
        background: #18CFAB;
    }
    100% {
        transform: translateX(100px) scale(0);
    }
}


.show-more-wrapper {
    display: flex;
    justify-content: center;
    padding: 35px 0 99px 0;
}

.show-more-btn {
    width: 168px;
    height: 63px;
    /*margin-top: 35px;*/
    /*margin-bottom: 99px;*/
    padding: 10px 0 0 56px;
    background-color: var(--main-color);
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    position:relative;
}

.show-more-btn::before {
    content: "+";
    left: 23px;
    font-weight: bold;
    font-size: 26px;
    position: absolute
}

/*section breaking news*/

.breaking-news-wrapper {
    display:flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 44px;
    margin-bottom: 129px;
}

.breaking-news-item {
    display: inline-block;
    position: relative;
}

.data-on-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    transition:1s;
}
.data-number {
    margin-top: 10px;
}
.breaking-news-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    text-transform: capitalize;
    padding-left: 15px;
    transition:1s;
}

.breaking-news-item-subtitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-left: 15px;

}
.breaking-news-item:hover .data-on-image {
    background-color: var(--main-color);
    transition: 1s;
}
.breaking-news-item:hover .breaking-news-item-title {
    color: var(--main-color);
    transition: 1s;
}

/*section what they say about us*/

.client-feedback {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/Sections background/section-3.jpg"), no-repeat, center, fixed;
    background-size: cover;
}

.feedback-title {
    color: #FFFFFF;
    padding-top:98px;
}

.feedback-quote {
    text-align: center;
    margin-bottom: 36px;
}

.swiper-wrapper {
    overflow: hidden;
    position: relative;
    display: block;
    height: 400px;

}

.swiper-slide {
    text-align: center;
    justify-content: center;
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
}

.active-slide {
    display: block;
    text-align: center;
    justify-content: center;
    opacity: 1;
}

.feedback-text {
    margin: 36px 0 37px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.feedback-client-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--main-color);
}
.feedback-client-position {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
    margin-bottom: 50px;
}

.client-photo {
    border: 10px solid rgba(24, 207, 160, 0.2);
    border-radius: 50%;
}

.feedback-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
    padding-bottom: 104px;
}
.slider-btn {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    position: relative;
}

.prev-btn::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #BBBBBB;
    border-left: 2px solid #BBBBBB;
    transform: rotate(45deg);
    right: 5px;
    bottom: 8px;
}

.next-btn::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    transform: rotate(45deg);
    right: 10px;
    bottom: 8px;
}

/*Hover*/
.slider-btn:hover{
    background-color: var(--main-color);
    transition:0.5s;
    border: 1px solid var(--main-color);
}

.prev-btn:hover::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    transform: rotate(45deg);
    right: 5px;
    bottom: 8px;
    transition:0.5s;
}

.next-btn:hover::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(45deg);
    right: 10px;
    bottom: 8px;
    transition:0.5s;
}
.feedback-tab-list {
    display: flex;
    transition:0.5s;
}

.client-photo-small {
    border: 5px solid rgba(24, 207, 160, 0.2);
    border-radius: 50%;
    margin: 27px;
}

.active-tab-item {
    margin-top: 10px;
    transition: 1s ease;
    transform: scale(1.2);
}

/*best images section*/

.best-images-title {
    margin: 108px 0 115px 0;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
    width: 374px;
    display: block;
    float: left;
    margin-bottom:20px;
}
.third-column-row {
    display: flex;
    flex-wrap: wrap;
}

.img-border {
    border: 1px solid white;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.gallery-item {
    position: relative;
}

.cover-item-gallery {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 1s;
    display:flex;
    align-items: center;
}
.cover-item-gallery:hover {
    opacity: 1;
    transition: 1s;
}

.gallery-hover-item {
    width: 27px;
    height: 25px;
    /*z-index: 1;*/
    background-color: #14B9D5;
    margin: 20px;
}

.gallery-wrapper-hover {
    display: flex;
    justify-content: center;
    align-content: center;
}

.gallery-hover-logo {
    margin: 7px;
}

.footer {
    background-color:#22353F;
    text-align: center;
}

.footer-text {
    padding: 48px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-text span  {
    color: var(--main-color);
}